<div class="input-group input-daterange">
    {{input class="form-control" value=valueStart readonly=readonly}}
    <div class="input-group-addon">{{toStr}}</div>
    {{input class="form-control" value=valueEnd readonly=readonly}}
</div>